
.bg-indigo {
  background-color: rgb(12, 232, 74);
  color: white; 
}

.navbar {
  padding: 1rem;
  border-bottom: 52px solid #000;
  color: #000;
}

  .nav-link {
    &:hover {
      color: yellow;
    }
  }
